include ez_setup.py README.md CHANGELOG.TXT
include requirements.txt
include avrtsb/locale/pytsb.pot
include avrtsb/tsb_db.pklz
recursive-include avrtsb/locale/*/LC_MESSAGES *.po
recursive-include scripts *.py
global-exclude *.*~ *.pyc *.pyo

